[Unit]
Description=stop update-engine-reboot-manager

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl stop update-engine-reboot-manager

[Install]
WantedBy=local.target
